html, body{
    width: 100%;
    height: 100%;
    background: rgb(255,214,112);
    background: linear-gradient(48deg, rgba(255,214,112,1) 0%, rgba(253,101,98,1) 100%);
    padding: 0;
    margin: 0;
    position: absolute;
    font-size: 12px;
    font-family: "rubikregular", Arial, Helvetica, sans-serif;
    direction: rtl;
}

@font-face {
    font-family: "rubikregular";
    src: url("../assets/fonts/rubik-regular.woff2") format("woff2"),
      url("../assets/fonts/rubik-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

button{
    font-family: "rubikregular", Arial, Helvetica, sans-serif;
}

h1{
    font-size:1.8rem;
}

.body{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.loader {
    will-change: opacity;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  
.loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_container{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 95%;
    width: 95%;
    background-color:#fff;
    border-radius: 5px;
    z-index:5;
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.65); 
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.65);
}

.video_container{
    background-color: #ced7e0;
}

.video_container video{
    margin: 0 auto;
    display: block;
    max-width: 100%;
    border-radius: 5px;
    
}

.hidden{
    display:none;
}

.label_button{
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #5797ff;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: bold;
    background-color: #5797ff;
}

.upload_loader{
    position: absolute;
    left: 160px;
    bottom: 10px;
    opacity: 0;
}

.submit_button{
    color:black;
    border-color:#78ff63;
    background-color: #78ff63;
    position: absolute;
    left:10px;
    bottom:15px;
}

.label_button:hover,
.label_button:active,
.label_button:focus {
  background: #6ba3ff;
}

.submit_button:hover,
.submit_button:active,
.submit_button:focus {
  background: #8cff7a;
}

.form{
    text-align: right;
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
}

.disabled{
    opacity:0.5;   
}

.error_message{
    position: relative;
    right: 3px;
    color: green;
    font-size: 1.5rem;
    opacity:0;
}

.map{
    width:97%;
    height:97%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    direction: ltr;
    opacity: 0;
    z-index:0;
    cursor: initial !important;
}

.return_button{
    background-color: #fff;
    color:initial;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    display:none;
    /* opacity: 0; */
    z-index: 15;
}



@media (min-width: 800px) and (min-height: 550px)  {
    .main_container{
        height: 90%;
        width: 55%;
        font-size: 2rem;
    }

    .submit_button{
        left:15px;
    }
}


@media (min-width: 1000px) and (min-height: 800px) {
    .main_container{
        height: 75%;
        width: 40%;
    }
}